div.profileContainer {
    display: flex;
    flex-direction: row;
    border: 1px solid darkslateblue;
    width: 450px;
    height: 250px;
    padding: 1rem;
}

section.profileDetails {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

section.imageContainer {
    width: 50%;
    border-right: 1px dotted red;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.imageContainer img {
    max-width: 200px;
    max-height: 200px;
}

section.imageContainer .firstChar {
    font-size: 5rem;
}

section.profileDetails .profileName {
    font-size: 2rem;
}

section.profileDetails .profileDesignation {
    font-size: 1.2rem;
    color: #5b5a5a;
}