#snehMilanContainer {
    margin-bottom: 2rem;
}

#snehMilanContainer .tabItems {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
}


#snehMilanContainer .tabItems .tabItem {
    border: 2px solid black;
    padding: 1rem;
    cursor: pointer;
    width: 12rem;
}

#snehMilanContainer .tabItems .tabItem:hover {
    color: gray;
}

#snehMilanContainer div.tabItems div.activeItab {
    background-color: navy;
    color: white;
    border-color: tomato;
}

#snehMilanContainer div.tabItems div.activeItab:hover {
    color: wheat;
}

#snehMilanContainer .tabComponent {
    border: 2px solid tomato;
    padding: 1rem;
    width: 80vw;
    margin: 0px auto;
}

#viewMembers .interestItem {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid gray;
    border-radius: 1rem;
}

#volunteersList {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

#volunteersList section {
    border: 2px solid darkcyan;
    border-radius: 1rem;
   
}

#volunteersList section div.title {
    color: #0a156f;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid black;
    border-radius: 1rem 1rem 0px 0px;
    padding: 0.5rem;
    text-align: center;
    background: aliceblue;
    font-weight: bold;
}

#volunteersList section div.content {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0.5rem;
}
